In [1]:
import pandas as pd
import re

In [2]:
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [50]:
d = pd.read_csv("atusdata/atussum_2013.dat")
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 36.0 MB

In [68]:
d.head(1)

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0

In [67]:
data = d
data.groupby([data.TUFINLWGT, data.TEAGE]).size().head()

TUFINLWGT      TEAGE
688157.742024  67       1
798366.911210  50       1
803641.733670  65       1
808858.320543  52       1
838837.641038  41       1
dtype: int64