In [229]:
%matplotlib inline
import pandas as pd

In [230]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [231]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None, encoding='utf-8')
titles.head(2)

                     title  year
0     Somewhere in the NYC  2017
1  Des hommes et des dieux  2010

In [232]:
t = titles.tail(3)

In [233]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)

cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [234]:
h = cast.head()

### How many movies are listed in the titles dataframe?

In [235]:
len(titles)

212811

### What are the earliest two films listed in the titles dataframe?

In [236]:
titles.sort('year').head(2)

                                                    title  year
209962                                         Miss Jerry  1894
57632   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [237]:
len(titles[titles.title == 'Hamlet'])

19

### How many movies are titled "North by Northwest"?

In [238]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [239]:
Hamlet = titles[titles.title == 'Hamlet']
Hamlet.sort('year').head(1)

         title  year
174843  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [240]:
titles[titles.title == 'Treasure Island'].sort('year')

                  title  year
173619  Treasure Island  1918
120133  Treasure Island  1920
207185  Treasure Island  1934
138319  Treasure Island  1950
111943  Treasure Island  1972
144435  Treasure Island  1973
39995   Treasure Island  1985
115341  Treasure Island  1999

### How many movies were made in the year 1950?

In [241]:
len(titles[titles.year == 1950])

1033

### How many movies were made in the year 1960?

In [242]:
len(titles[titles.year == 1960])

1423

### How many movies were made from 1950 through 1959?

In [243]:
len(titles[(titles.year > 1949) & (titles.year < 1960)])

12051

### In what years has a movie titled "Batman" been released?

In [244]:
titles[titles.title == 'Batman']

         title  year
125067  Batman  1943
141537  Batman  1989

### How many roles were there in the movie "Inception"?

In [245]:
cast.head(1)

             title  year    name   type character   n
0  Suuri illusioni  1985  Homo $  actor    Guests  22

In [246]:
len(cast[cast.title == 'Inception'])

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [247]:
c = cast[cast.title == 'Inception']
len(c[c.n.isnull()])

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [248]:
len(c[c.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [249]:
nw = cast[cast.title == 'North by Northwest']

In [250]:
nw = nw[nw.n.notnull()]

In [251]:
nw.sort('n')

,title,year,name,type,character,n
768520,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3064038,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1284677,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2758169,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
313200,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2667606,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1495479,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1123585,North by Northwest,1959,Martin Landau,actor,Leonard,8
2153857,North by Northwest,1959,Adam Williams,actor,Valerian,9
1597034,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
586825,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2020534,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
408497,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1330774,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
179711,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1220657,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [252]:
sl = cast[(cast.title == 'Sleuth') & (cast.year == 1972)]

In [253]:
sl.sort('n')

,title,year,name,type,character,n
1504207,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
286557,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
328520,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1291935,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2391225,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1277367,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [254]:
sl2 = cast[(cast.title == 'Sleuth') & (cast.year == 2007)]

In [255]:
sl2.sort('n')

          title  year                 name     type          character   n
286558   Sleuth  2007        Michael Caine    actor             Andrew   1
1139941  Sleuth  2007             Jude Law    actor               Milo   2
1592307  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
227168   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
328521   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2391224  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2939217  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [256]:
ham = cast[(cast.title == "Hamlet") & (cast.year == 1921)]

In [257]:
ham.n.count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [258]:
bham = cast[(cast.title == "Hamlet") & (cast.year == 1996)]

In [259]:
len(bham)

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [260]:
len(cast[cast.character == 'Hamlet'])

81

### How many people have played an "Ophelia"?

In [261]:
len(cast[cast.character == 'Ophelia'])

96

### How many people have played a role called "The Dude"?

In [262]:
len(cast[cast.character == 'The Dude'])

16

### How many people have played a role called "The Stranger"?

In [263]:
len(cast[cast.character == 'The Stranger'])

190

### How many roles has Sidney Poitier played throughout his career?

In [264]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [265]:
len(cast[cast.name == 'Judi Dench'])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [266]:
cg = cast[(cast.name == 'Cary Grant') & (cast.n == 2)]

In [269]:
cg = cg[(cg.year > 1939) & (cg.year < 1950)]

In [270]:
cg

                   title  year        name   type    character  n
768517  My Favorite Wife  1940  Cary Grant  actor         Nick  2
768527    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [271]:
cg2 = cast[(cast.name == 'Cary Grant') & (cast.n == 1)]

In [272]:
cg2 = cg2[(cast.year > 1939) & (cast.year < 1950)]

/Users/jeffreyhacker/Documents/Python/Iron_Yard/homework/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/core/frame.py:1815: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

In [273]:
cg2.sort('year')

,title,year,name,type,character,n
768542,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
768499,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
768544,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
768532,Suspicion,1941,Cary Grant,actor,Johnnie,1
768546,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
768523,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
768490,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
768515,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
768516,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
768524,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
768482,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
768519,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
768518,Night and Day,1946,Cary Grant,actor,Cole Porter,1
768521,Notorious,1946,Cary Grant,actor,Devlin,1
768538,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1
768539,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
768514,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
768494,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
768503,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [285]:
act = cast[(cast.type == 'actor') & (cast.year // 10 == 195)]

In [287]:
len(act)

147404

### How many roles were avilable for actresses in the 1950s?

In [290]:
wom = cast[(cast.type == 'actress') & (cast.year // 10 == 195)]

In [291]:
len(wom)

53793

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [292]:
len(cast[(cast.n == 1) & (cast.year < 1981)])

61285

### How many non-leading roles were available through from the beginning of film history through 1980?

In [294]:
len(cast[(cast.n != 1) & (cast.year < 1981)])

1044310

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [295]:
len(cast[(cast.n.isnull()) & (cast.year < 1981)])

413378