In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

In [2]:
%matplotlib inline

In [3]:
summary = pd.read_csv("atusdata/atussum_2013.dat")
summary.info()

summary.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 36.0 MB

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
summary[["TUFINLWGT","TESEX"]].head()

         TUFINLWGT  TESEX
0  11899905.662034      2
1   4447638.009513      1
2  10377056.507734      2
3   7731257.992805      2
4   4725269.227067      2

In [12]:
summary.TUDIARYDAY.describe()

count    11385.000000
mean         3.929029
std          2.342859
min          1.000000
25%          1.000000
50%          4.000000
75%          6.000000
max          7.000000
Name: TUDIARYDAY, dtype: float64

In [13]:
resp = pd.read_csv("atusdata/atusresp_2013.dat")
resp.head()

,TUCASEID,TULINENO,TUYEAR,TUMONTH,TEABSRSN,TEERN,TEERNH1O,TEERNH2,TEERNHRO,TEERNHRY,...,TXSPEMPNOT,TXSPUHRS,TXTCC,TXTCCTOT,TXTCOC,TXTHH,TXTNOHH,TXTO,TXTOHH,TXTONHH
0,20130101130004,1,2013,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,0,-1,-1,-1
1,20130101130112,1,2013,1,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
2,20130101130123,1,2013,1,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
3,20130101130611,1,2013,1,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,20130101130616,1,2013,1,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1

In [14]:
resp.TRTALONE.describe()

count    11385.000000
mean       316.122178
std        269.888458
min          0.000000
25%         95.000000
50%        240.000000
75%        483.000000
max       1440.000000
Name: TRTALONE, dtype: float64

In [15]:
rost = pd.read_csv("atusdata/atusrost_2013.dat")
who = pd.read_csv("atusdata/atuswho_2013.dat")
rostec = pd.read_csv("atusdata/atusrostec_2013.dat")
cps = pd.read_csv("atusdata/atuscps_2013.dat")
act = pd.read_csv("atusdata/atusact_2013.dat")

In [16]:
summary = summary.rename(columns={"t010101": "SLEEPING", 'tucaseid': 'ID', 
                                  'TEAGE': 'AGE', 't080601': 'BUYING_REALESTATE',
                                 "t110101": "EATING_DRINKING"
                                 })

# START

In [22]:
my_frame = summary[["ID", "AGE", "SLEEPING", 'EATING_DRINKING']]
my_frame.head()

               ID  AGE  SLEEPING  EATING_DRINKING
0  20130101130004   22       540               35
1  20130101130112   39       580               75
2  20130101130123   47       450              170
3  20130101130611   50       450               70
4  20130101130616   45       570              120

In [23]:
my_frame.describe()

                 ID           AGE      SLEEPING  EATING_DRINKING
count  1.138500e+04  11385.000000  11385.000000     11385.000000
mean   2.013064e+13     48.279842    527.265261        67.398595
std    3.517213e+08     17.909707    135.819112        50.883986
min    2.013010e+13     15.000000      0.000000         0.000000
25%    2.013030e+13     34.000000    450.000000        30.000000
50%    2.013061e+13     48.000000    520.000000        60.000000
75%    2.013091e+13     62.000000    600.000000        90.000000
max    2.013121e+13     85.000000   1413.000000       600.000000